
:root {
  --primary: #769e8e;
  --secondary: #23524B; 
  --third: #4FB8A8;
  --accent: #64B5F6;
  --text: #212121;
  --background: #769e8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text);
  background: var(--background);
}

header {
  background:#D9D9D9;
  color: black;
  padding: 1rem;
  text-align: center;
  position: relative;
  margin: 30px 150px 30px 150px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu{
  width: 50%;
}

.menu nav a{
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  padding-right: 30px;
  padding-bottom: 8px;
  position: relative;
}

.menu nav a::after{
  content: " ";
  width: 0px;
  height: 4px;
  background-image: linear-gradient(45deg , #00ff62, #05ecec);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.menu nav a:hover::after{
  width: 30px;
}

.menu nav a:hover{
  color: #ffffff;
}

.contentor{
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}












